/*
 * Mustard: #F4CD58
 * Orange Yellow: #FFD866
 * Wild Blue Yonder: #9EADC8
 * UCLA Blue: #5B618A
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4cd58;
  color: #5b618a;
  border-color: #5b618a;
  border-width: 1px;
}

a {
  text-decoration: none;
}

input {
  margin: 10px 0 0 0;
  border-style: solid;
  border-radius: 5px;
}

input[type="submit"] {
  height: 3em;
}

input[type="submit"]:hover,
input[type="submit"]:active {
  background-color: #5b618a;
  border-style: none;
  color: white;
  cursor: pointer;
}

.url {
  padding: 0.7em 0;
  height: 3.7em;
}

.url p {
  color: #5b618a;
  height: 1.2em;
}

.url:nth-of-type(odd) {
  background: #ffd866;
}

.url:nth-of-type(odd) p {
  background: #ffd866;
}

.full-url {
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0.3em 0 0 0;
}

#main-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "auth-buttons"
    "auth-forms"
    "main"
    "urls";
}

#auth-buttons-container {
  grid-area: auth-buttons;
  height: 10vh;

  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

#signup-form-container {
  grid-area: auth-forms;
  height: 0;
}

#login-form-container {
  grid-area: auth-forms;
  height: 0;
}

#main-container {
  grid-area: main;
  height: 90vh;

  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "messages"
    "url-form"
    "url-button";
}

#messages-container {
  grid-area: messages;
  display: flex;
  justify-content: space-around;
}

#messages-container button:hover,
#messages-container button:active {
  border: none;
  background-color: #5b618a;
  color: white;
}

#messages-container button:hover img,
#messages-container button:active img {
  background-color: #5b618a;
}

#url-form-container {
  grid-area: url-form;
  display: flex;
  justify-content: space-around;
}

#urls-button-container {
  grid-area: url-button;
  display: flex;
  justify-content: space-around;
}

#urls-container {
  grid-area: urls;

  display: grid;
  grid-template-rows: 9fr 1fr;
  grid-template-areas:
    "urls"
    "nav";

  height: 0;
  background-color: #ffd866;
}

.message-container {
  position: relative;
  display: flex;
  height: 3em;
  align-self: center;
  opacity: 0;
}

.message-container p {
  position: absolute;
  border-radius: 10px;
  width: 40%;
  text-align: center;
  top: 25%;
  left: 25%;
  background-color: #9eadc8;
}

.message {
  padding: 0 1em;
  margin: 0;
  line-height: 3em;
}

.close-button {
  padding: 1em;
  margin: 0;
}

#url-form-container form {
  width: 100%;
  align-self: center;
}

#table-container {
  grid-area: urls;
  overflow: auto;
  margin: 1em 1em 0 1em;
}

#nav-container {
  grid-area: nav;

  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: "prev . next";

  background-color: #ffd866;
}

#urls-button {
  align-self: flex-end;
  border-style: none;
  outline: none;
}

.nav-button {
  margin: 1em;
  text-align: center;
  background-color: #ffd866;
}

.nav-button img {
  background-color: #ffd866;
}

#prev {
  grid-area: prev;
}

#next {
  grid-area: next;
}

.auth-button {
  display: inline-block;
  margin: 0 0.5em 0 0;
  height: 3em;
  width: 5em;
  text-align: center;
  line-height: 3em;
  border-radius: 5px;
}

#login-button {
  border: solid;
  border-color: #5b618a;
}

#signup-button {
  background-color: #fdd866;
  color: #5b618a;
}

#logout-button {
  border: solid;
  border-color: #5b618a;
}

#signup-button:hover,
#signup-button:active {
  border: none;
  background-color: #5b618a;
  color: white;
}

#login-button:hover,
#login-button:active {
  border: none;
  background-color: #5b618a;
  color: white;
}

#logout-button:hover,
#logout-button:active {
  border: none;
  background-color: #5b618a;
  color: white;
}

#url-form-container input {
  border-radius: 5px;
  border-width: 1px;
}

#url-form-container #shorten-input {
  width: 70%;
  align-self: center;
}

#url-form-container input[type="url"] {
  width: 100%;
  height: 2em;
  background-color: white;
  border-style: solid;
  border-color: #5b618a;
}

#url-form-container input[type="submit"] {
  height: 3em;
  width: 30%;
  align-self: center;
}

#urls-button:hover,
#urls-button:active {
  cursor: pointer;
}

#bookmarklet-container {
  display: none;
}

#auth-buttons {
  margin: 0 1em 0 1em;
}

.main-subcontainer {
  height: auto;
}

#main-container form {
  display: flex;
  flex-direction: column;
}

.invisible {
  display: none !important;
}

.url:hover,
.url:hover p {
  background-color: #9eadc8;
}

.url .fading {
  position: relative;
  top: -2.2em;
  width: 6em;
  height: 1.8em;
  margin: 0 auto 0 auto;
  border-radius: 10px;

  line-height: 1.8em;
  text-align: center;

  background: #ffd866 !important;
}

.auth-form-container {
  display: flex;
  justify-content: space-around;
}

.auth-form-container form {
  width: 75%;
}

.auth-form-container .field-wrapper {
  margin: 1em 0 0 0;
}

.auth-form-container input {
  width: 100%;
}

.auth-form-container input[type="submit"] {
  width: 50%;
}

@media (min-aspect-ratio: 5/4) {
  #main-grid {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
      "bookmarklet main auth"
      "urls urls urls";
  }

  #bookmarklet-container {
    grid-area: bookmarklet;
    display: block;
  }

  #bookmarklet-container a {
    display: block;
    height: 3em;
    width: 7em;
    border-style: solid;
    border-color: #5b618a;
    border-radius: 5px;
    line-height: 3em;
    text-align: center;
    margin: 1em 0 0 2em;
  }

  #auth-container {
    grid-area: auth;

    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-areas:
      "auth-buttons"
      "auth-forms";
  }

  #auth-buttons-container {
    grid-area: auth-buttons;
  }

  #signup-form-container {
    grid-area: auth-forms;
  }

  #login-form-container {
    grid-area: auth-forms;
  }

  #spacer {
    grid-area: spacer;
  }

  #main-container {
    grid-area: main;
    height: 100vh;
  }

  #urls-container {
    grid-area: urls;
  }

  .auth-form-container {
    width: 100%;
  }
}

@media (max-width: 760px) {
  .url {
    margin: 0;
    padding: 0.5em;
    border-top: solid;
    border-color: #5b618a;
  }

  .url:first-of-type {
    border-top: none;
  }
}

@media (min-width: 760px) {
  .url {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: "short long";
  }

  .url p {
    display: inline;
    padding: 0 1em;
    margin: auto 0;
  }

  .url p:first-of-type {
    grid-area: short;
    border-right: solid;
  }

  .url p:last-of-type {
    grid-area: long;
  }

  .url .fading {
    position: absolute;
    background-color: #ffd866;
    top: 0.5em;
    left: 35%;
  }
}
