<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
  <head>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='{% static 'css/base.css' %}'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
    <script src='{% static 'js/base.js' %}'></script>
  </head>

  <body>
    <div id='main-grid'>

      <div id='main-container'>
        <div id='messages-container' class='main-subcontainer'>
          {% if messages %}
			    {% for message in messages %}
            <div class='message-container {{ message.tags }}'>
              {% if 'shortened-url' in message.tags %}
              <button class='message copy-button' id='copy-button' data-clipboard-text={{ message }}>{{ message }}</button>
              {% else %}
              <span class='message'>{{ message }}</span>
              {% endif %}
              <button class='close-button'>
                <img src='{% static 'images/svg/close-blue.svg' %}' onmouseover="this.src='{% static 'images/svg/close-white.svg'%}';" onmouseout="this.src='{% static 'images/svg/close-blue.svg'%}';"  height='20' alt='Close button'/>
              </button>
            </div>
			    {% endfor %}
          {% endif %}
        </div>

        <div id='url-form-container' class='main-subcontainer'>
          <form action='.' method='POST'>
            {% csrf_token %}
            <div id='shorten-input' class="field-wrapper">
                {{ url_form.url }}
                {{ url_form.url.errors }}
            </div>
            <input id='shorten-submit' type='submit' value='Shorten'>
          </form>
        </div>

        <div id='urls-button-container' class='main-subcontainer'>
          {% if pages.object_list %}
          <!--<a id='urls-button' href='#'>urls</a>-->
          <button id='urls-button'><img src='{% static 'images/svg/chevron-up.svg' %}' height='30'/></button>
          {% endif %}
        </div>
      </div>
      
      <div id='bookmarklet-container'>
        <a href='javascript:{% include 'fetch_bookmarklet.js' %}'>Bookmark Me</a>
      </div>

      <div id='auth-container'>
        <div id='auth-buttons-container'>
          {% if request.user.is_authenticated %}
          <p id='auth-buttons'><a href='{% url 'logout' %}' id='logout-button' class='auth-button'>Log out</a></p>
          {% else %}
           <p id='auth-buttons'><a href='#' id='signup-button' class='auth-button'>Sign Up</a><a href='#' id='login-button' class='auth-button'>Log in</a></p>
          {% endif %}
        </div>

        <div id='login-form-container' class='invisible auth-form-container'>
          <form id='login-form' class='auth-form' action='{% url 'login' %}' method='POST'>
            {% csrf_token %}
            {{ login_form.non_field_errors }}
            <div class='field-wrapper'>
              <p><label for='{{ login_form.username.id_for_label }}'>Email</label></p>
              <p>{{ login_form.username }}</p>
              <p>{{ login_form.username.errors }}</p>
            </div>
            <div class='field-wrapper'>
              <p><label for='{{ login_form.password.id_for_label }}'>Password</label></p>
              <p>{{ login_form.password }}</p>
              <p>{{ login_form.password.errors }}</p>
            </div>
            <div class='field-wrapper'>
              <input type='submit' value='Login'>
            </div>
          </form>
        </div>

        <div id='signup-form-container' class='invisible auth-form-container'>
          <form id='signup-form' class='auth-form' action='{% url 'new_user' %}' method='POST'>
            {% csrf_token %}

            {{ signup_form.non_field_errors }}
			  		<div class="field-wrapper">
              <p><label for="{{ signup_form.email.id_for_label }}">Email</label></p>
              <p>{{ signup_form.email }}</p>
              <p>{{ signup_form.email.errors }}</p>
			  		</div>
			  		<div class="field-wrapper">
              <p><label for="{{ signup_form.password1.id_for_label }}">Password</label></p>
              <p>{{ signup_form.password1 }}</p>
              <p>{{ signup_form.password1.errors }}</p>
              <p>{{ signup_form.password2 }}</p>
              <p>{{ signup_form.password2.errors }}</p>
			  		</div>
            <div class='field-wrapper'>
              <input type='submit' value='Sign up'>
            </div>

          </form>
        </div>

      </div>

      <div id='urls-container' class='invisible'>
        <div id='table-container'>
          {% include 'urls.html' %}
        </div>
        <div id='nav-container'>
          <a id='prev' class='nav-button invisible' href='#'><img src='{% static 'images/svg/chevron-left.svg' %}' height='30'/></a>

          {% if pages.num_pages > 1 %}
          <a id='next' class='nav-button' href='#'><img src='{% static 'images/svg/chevron-right.svg' %}' height='30'/></a>
          {% else %}
          <a id='next' class='nav-button invisible' href='#'><img src='{% static 'images/svg/chevron-right.svg' %}' height='30'/></a>
          {% endif %}
        </div>
      </div>
      {% if pages.object_list %}
      {% endif %}

    </div>
  </body>
</html>
