<div
  id="urls"
  data-page-number="{{ page.number }}"
  data-num-pages="{{ pages.num_pages }}"
>
  {% for url in page %}
  <div
    class="url copy-button"
    data-clipboard-text="http://{{ HOST }}/{{ url.unique_string }}"
  >
    <p class="shortened-url">
      http://{{ HOST }}/{{ url.unique_string }}
    </p>
    <p class="full-url">
      {{ url.url }}
    </p>
  </div>
  {% endfor %}
</div>
